
/* Reset Styles */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  height: 100vh;
}

body {
  background: #fff;
  font-family: Arial, Helvetica Neue, sans-serif;

}

/* Header Section */
header {
  margin: 0;
  background: #1E2432;
  /*background: #6885ac;*/
  padding: 10px 20px;
  color: #fff;
}

#icon {
  width: 10%;
  display: inline-block;
  vertical-align: unset;
  padding-top: 8px;
}

#icon img {

  width: 100px;
  border-radius: 10px;
}

.headerTitle {
  width: 60%;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 20px;
  display: inline-block;

}

.header h1 {
  font-family: "Old English Text MT", agGridBalham, serif;
  font-size: 3.5em;
  margin-bottom: 0;
}

.header h2 {
  font-size: 1.3em;
  font-family: serif;
}

.navComponent {
  width: 30%;
  padding-top: 30px;
  vertical-align: top;
  display: inline-block;
  text-align: right;
  font-size: 1.25em;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a, .register-button a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  border-radius: 3px;
  transition: 0.3s ease all;
}

nav ul li a:hover, .register-button a:hover, #view-stock-button:hover {
  background: #fff;
  text-decoration: none;
  color: #1E2432;
}

/* Basic Site Section */
.homePage {
  background: #1E2432;
  color: #fff;
}

.greeting {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 30px;
  width: 60%;
  text-align: center;
  font-family: agGridClassic, serif;
}

.greeting h3 {
  font-size: 1.75em;
}

.greeting p {
  font-size: 1.2em;
}

.search-bar-container {
  width: 600px;
}

#industrySearch {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0px;
  background: #1e2432;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: #fff;
  /*box-shadow: 5px 5px white;*/
}

#industry-search-button {
  display: inline-block;
  margin: 0;
  padding: 0px;
  /*background: #fff;*/
  /*color: #1E2432;*/
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

#view-stock-button {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0px 0px 0px 30px;
  /*padding: 0;*/
  border: 0;
  color: black;
  background: #abc0d5;
  padding: 3px;
  border-radius: 3px;
  transition: 0.3s ease all;
}

#industry-select {
  display: inline-block;
  width: 240px;
  margin-left: 29px;
  /*padding-left: 4px;*/
  /*padding-top: 4px;*/
  /*padding-bottom: 4px;*/
  /*margin-left: 160px;*/
}


.gridContainer {
  text-align: start;
  display: grid;
  justify-content: center;

}

 /* Stock Details Page */
.stock-details-container {
  padding-top: 20px;
  background: #1E2432;
  text-align: center;
  /*height: 7?vh;*/
  /*width: 70%;*/
  color: #fff;
  margin: 0;
}


.stock-details-header {
  text-align: start;
  display: inline-block;
  width: 682px;
  justify-content: center;
  padding: 40px 0 60px 0;
}

.stock-details-header h2 {
  font-size: 1.9em;
}

.stock-details-header h3 {
  margin-bottom: 0px;
  font-size: 1.6em;
}

.stock-details-table, .auth-stock-table {
  /*height: auto;*/
  /*width: auto;*/
  display: grid;
  justify-content: center;
  text-align: start;
}
.ag-header-cell-label {
  font-weight: bold;
  color: #1E2432;
  font-size: 1.2em;
}
.stock-detail-row-class {
  font-size: 1.5em;
}

.user-buttons-stock {
  text-align: center;
  padding-top: 60px;


}
#login-from-stock, #register-from-stock {
  display: inline-block;
  width: 100px;
  /*text-align: center;*/
  margin: 10px;
  /*padding: 0;*/
  border: 0;
  color: black;
  background: #abc0d5;
  /*background: #fff;*/
  padding: 10px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
#login-from-stock:hover, #register-from-stock:hover {
  background: #fff;
  text-decoration: none;
}

.symbol-undefined {
  background: #1E2432;
  color: #fff;
  text-align: center;
  height: 67vh;
  padding: 100px;
}

.to-home-from-undefined {
  width: 150px;
  font-size: 1.3em;
  margin-top: 40px;
  padding: 20px;
  border: 0;
  color: black;
  background: #abc0d5;
  border-radius: 10px;
  transition: 0.2s ease all;
}
.to-home-from-undefined:hover {
  background: #fff;
  text-decoration: none;
}


/* Login Page */
.login {
  background: #1E2432;
  color: #fff;
  height: 69vh;
}
.login p {
  padding-top: 90px;
  text-align: center;
  font-family: serif;
  font-size: 1.3em;
}

.login-form {
  justify-content: center;
  display: flex;
  padding-top: 30px;
}

.login-form button {
  background: #494f66;
  color: #fff;
  border: 0px;
  margin-top: 30px;
  width: 100%;
  transition: 0.3s ease all;
}
.login-form button:hover {
  background: #fdfdfd;
  color: #000000;
}

.register-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
}
.register-button button {
  background: #494f66;
  color: #fff;
  border: 0px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
}


.about {
  background: #1E2432;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  height: 67vh;
  padding-bottom: 30px;
}

.about h2 {
  font-family: serif;
  font-size: 2.4em;
  padding: 20px;
}
.about p {
  font-family: serif;
  font-size: 1.3em;
  border-bottom: 20px;
}

#user-info {
  font-size: 1.1em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* Footer Section */
footer {
  background: #1E2432;
  padding: 50px;
  text-align: center;
  color: #fff;
}
.header-image-link {
  text-decoration: none;
  color: #fff;
}
.header-image-link a:visited {
  text-decoration: none;
  color: #fff;
}